{% block content %}
<body>
    <h1>TBOI Items</h1>

    <h4>Container: {{ container }}</h4>
    <h4>Item Name: {{ item['ItemName'] }}</h4>
    <h4>Item ID: {{ item['ItemId'] }}</h4>
    <h4>Item URL: {{ item['ItemURL'] }}</h4>
    <h4>Item Type: {{ item['ItemType'] }}</h4>

    {{ pic }}

</body>
{% endblock %}
